/* Add CSS styles for the navigation bar and header here */
        /* For example, you can style the background, fonts, and links */
        header {
            background-color: #f6f6f6;
            color: #060000;
            padding: 10px 0;
            text-align: center;
            display: flex;
            justify-content: space-between;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin-right: 20px;
        }

        nav ul li a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

        .logo {
            font-size: 24px;
            font-weight: bold;
            margin-left: 20px;
        }
        .logo img{
            height:50px;
            width:180px;
        }
        .intro{
            text-align: center;

            display: flex;
            justify-content: space-between;
        }
        .intro img{
            border-radius: 50px;

            height: 600px;
            width: 600px;
        }

         /* Container styling */
         .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 700px; /* Adjust the height as needed */
            background-color: #ffffff;
            padding: 20px;
        }

        /* Image styling */
        .image {
            border-radius: 50px;

            max-width: 40%;
            height: auto;
        }
        .text-3d {
            font-size: 36px;
            font-weight: bold;
            color: #fff; /* Text color */
            text-shadow: 
                -2px -2px 2px #333, /* Top-left shadow */
                2px -2px 2px #333, /* Top-right shadow */
                -2px 2px 2px #333, /* Bottom-left shadow */
                2px 2px 2px #333; /* Bottom-right shadow */
        }
        /* Text styling */
        .text {
            margin-left: 200px;
            padding: 80px;
            font-family: 'Courier New', Courier, monospace;
            fill: black;
            text-align: center;
            font-size: 56px;
            font-weight: bold;
            color: white; /* Fill color */
            -webkit-text-stroke: 2px black; /* Black border (adjust the width as needed) */
            stroke: 5px black;
            text-shadow: red
         
        }

        /* Animation when hovered */
        .container:hover .text {
            opacity: 1; /* Make the text visible */
            transform: translateY(0); /* Bring the text back to its original position */
        }